[submodule "test-gh-submodule-add"]
	path = test-gh-submodule-add
	url = https://github.com/crguezl/test-gh-submodule-add.git
[submodule "gh-submodule-add"]
	path = gh-submodule-add
	url = https://github.com/crguezl/gh-submodule-add.git
